@import "../helpers/colors"

#header
  width: 100%
  position: fixed
  top: 0
  z-index: 1
  background: $codGray
  .header-content
    width: 90%
    height: 50px
    margin: 0 auto
    padding: 15px 0 5px
    color: #FFFFFF
    font-size: 15px
    text-transform: uppercase