@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700");
#intro {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #B0140E; }
  #intro svg {
    margin: auto;
    animation: scaleLogo 0.5s ease-in forwards 3.7s; }
    #intro svg #path1 {
      stroke-dasharray: 2450;
      stroke-dashoffset: 2450;
      -webkit-animation: transformPath 2.7s linear forwards 1s;
      animation: transformPath 2.7s linear forwards 1s; }

@keyframes transformPath {
  to {
    stroke-dashoffset: 0; } }

@keyframes scaleLogo {
  to {
    transform: translate(500px, 500px) scale(60);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; } }

.fill-path {
  fill: #000000;
  stroke-width: 0; }

#header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000; }
  #header .header-content {
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase; }
    #header .header-content .service-info-wrapper {
      width: 50%;
      font-weight: bold; }
      #header .header-content .service-info-wrapper .service-info .contact-info {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 50px; }
        #header .header-content .service-info-wrapper .service-info .contact-info a {
          padding: 3px 0;
          color: #B0140E; }
          #header .header-content .service-info-wrapper .service-info .contact-info a:hover {
            color: #E53124;
            transition: 0.1s; }
      #header .header-content .service-info-wrapper .notifications {
        text-align: center;
        align-items: center; }
        #header .header-content .service-info-wrapper .notifications:hover {
          cursor: pointer; }
          #header .header-content .service-info-wrapper .notifications:hover p.notifications {
            color: #E53124;
            transition: 0.1s; }
        #header .header-content .service-info-wrapper .notifications img {
          width: 11px;
          height: 14px;
          padding: 3px 0;
          font-size: 2px; }
        #header .header-content .service-info-wrapper .notifications .count-notifications {
          margin: 2px auto 0;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: #B0140E; }
          #header .header-content .service-info-wrapper .notifications .count-notifications p {
            font-size: 10px;
            padding-top: 3px; }
    #header .header-content .menu {
      width: 30%; }
      #header .header-content .menu a {
        opacity: 0;
        font-weight: 700; }
        #header .header-content .menu a:nth-child(2)::after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin: 0 0 3px 5px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 9px solid #B0140E; }
        #header .header-content .menu a:first-child {
          animation: appearLink 1s linear forwards 0.6s; }
        #header .header-content .menu a:nth-child(2) {
          animation: appearLink 1s linear forwards 0.7s; }
        #header .header-content .menu a:nth-child(3) {
          animation: appearLink 1s linear forwards 0.8s; }
        #header .header-content .menu a:nth-child(4) {
          animation: appearLink 1s linear forwards 0.9s; }
        #header .header-content .menu a:nth-child(5) {
          animation: appearLink 1s linear forwards 1s; }
        #header .header-content .menu a:hover {
          color: #E53124;
          transition: 0.1s; }

@keyframes appearLink {
  to {
    opacity: 1; } }
    #header .header-content .dropdown {
      position: relative;
      margin-left: -125px; }
      #header .header-content .dropdown .btnSignConsultation {
        width: 60px;
        height: 60px;
        border: none;
        background-color: #B0140E; }
      #header .header-content .dropdown .dropdown-content {
        position: absolute;
        width: 60px;
        height: 200px;
        display: none;
        background-color: #B0140E;
        z-index: 1; }
        #header .header-content .dropdown .dropdown-content p {
          color: #FFFFFF;
          transform: rotate(180deg);
          font-size: 10px;
          letter-spacing: 0.01rem;
          writing-mode: tb-rl;
          -ms-writing-mode: tb-rl;
          -webkit-writing-mode: tb-lr;
          margin: 0 auto; }
      #header .header-content .dropdown:hover .dropdown-content {
        display: block; }

@media only screen and (max-width: 1440px) {
  #header .header-content .menu {
    width: 35%; } }

@media only screen and (max-width: 1280px) {
  #header .header-content {
    width: 95%; }
    #header .header-content .dropdown {
      margin-left: -35px; } }

@media only screen and (max-width: 1024px) {
  #header .header-content {
    position: relative;
    flex-direction: column; }
    #header .header-content .service-info-wrapper {
      width: 85%; }
    #header .header-content .menu {
      width: 50%;
      margin-top: 20px; }
    #header .header-content .dropdown {
      position: absolute;
      right: 25px;
      top: 30px; } }

@media only screen and (max-width: 768px) {
  #header .header-content .menu {
    width: 70%; } }

@media only screen and (max-width: 375px) {
  #header .header-content {
    position: relative;
    flex-direction: column; }
    #header .header-content .service-info-wrapper {
      flex-direction: column;
      width: 95%; }
      #header .header-content .service-info-wrapper .service-info .contact-info {
        width: 40%;
        margin: 0; }
        #header .header-content .service-info-wrapper .service-info .contact-info a {
          font-size: 11px; }
      #header .header-content .service-info-wrapper .notifications {
        flex-direction: row;
        width: 150px;
        margin-top: 10px;
        margin-left: -7px; }
        #header .header-content .service-info-wrapper .notifications img {
          padding-top: 10px; }
        #header .header-content .service-info-wrapper .notifications .count-notifications {
          width: 14px;
          height: 14px;
          margin: 9px 0 0 5px; }
          #header .header-content .service-info-wrapper .notifications .count-notifications p {
            margin-top: -2px;
            font-size: 10px; }
    #header .header-content .menu {
      width: 100%;
      margin-top: 25px;
      font-size: 11px; }
    #header .header-content .dropdown {
      position: absolute;
      right: 0;
      top: 40px; } }

.general-contacts {
  flex-direction: column;
  min-width: 260px;
  min-height: 130px;
  top: 700px;
  right: 130px; }
  .general-contacts .info-mail {
    opacity: 0;
    text-align: right;
    animation: appearInfoMail 0.5s linear forwards 0.9s; }
    .general-contacts .info-mail p {
      color: #9c9c9c;
      font-size: 12px;
      margin-bottom: 10px; }
    .general-contacts .info-mail a {
      color: #FFFFFF; }

@keyframes appearInfoMail {
  to {
    opacity: 1; } }
  .general-contacts .btn-sign-consultation {
    opacity: 0;
    width: 260px;
    min-width: 260px;
    min-height: 60px;
    margin-top: 80px;
    padding: 20px;
    color: #FFFFFF;
    font-size: 10px;
    text-transform: uppercase;
    background: #B0140E;
    border: none;
    outline: none;
    animation: appearButton 0.7s linear forwards 1.2s; }
    .general-contacts .btn-sign-consultation:hover {
      background-image: linear-gradient(to right, #590a08, #90100b, #B0140E);
      cursor: pointer; }

@keyframes appearButton {
  to {
    opacity: 1;
    margin-top: 40px; } }

@media only screen and (max-width: 1440px) {
  .general-contacts {
    top: 530px; } }

@media only screen and (max-width: 1280px) {
  .general-contacts {
    top: 600px;
    right: 60px; } }

@media only screen and (max-width: 1024px) {
  .general-contacts {
    top: 540px; } }

@media only screen and (max-width: 375px) {
  .general-contacts {
    top: 440px;
    right: 10px; }
    .general-contacts .btn-sign-consultation {
      min-height: 45px;
      padding: 10px; } }

.general-footer {
  width: 90%;
  margin: 5px auto 0;
  height: 50px; }
  .general-footer p {
    padding-top: 7px;
    font-size: 18px;
    color: #FFFFFF; }
  .general-footer a {
    width: 70px;
    height: 70px; }
    .general-footer a:hover {
      cursor: pointer; }

@media only screen and (max-width: 1024px) {
  .general-footer {
    margin: -50px auto 0; } }

@media only screen and (max-width: 375px) {
  .general-footer {
    position: absolute;
    bottom: 145px;
    left: 25px;
    z-index: 1; }
    .general-footer p {
      padding: 10px 5px 0 0;
      font-size: 10px; } }

.general-page {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: #1D1D1D; }
  .general-page .introduction-info {
    width: 100%;
    margin: 0 auto; }
    .general-page .introduction-info .words-wrapper {
      width: 90%;
      height: 775px;
      margin: 0 auto;
      padding-top: 100px;
      overflow: hidden; }
      .general-page .introduction-info .words-wrapper .Words {
        height: 100%;
        margin: 0 auto;
        padding: 0 10px;
        font-size: 115px;
        font-weight: 600;
        letter-spacing: -3px;
        text-transform: uppercase;
        transform: translate3d(0, -200px, 0);
        -webkit-font-smoothing: antialiased;
        -webkit-font-kerning: normal;
        -webkit-text-size-adjust: 100%; }
        .general-page .introduction-info .words-wrapper .Words .Words-line {
          height: 105px;
          overflow: hidden;
          position: relative; }
          .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(odd) {
            transform: skew(60deg, -30deg) scaleY(0.7); }
          .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(even) {
            transform: skew(0deg, -30deg) scaleY(1.3); }
          .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(1) {
            left: 30px; }
          .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(2) {
            left: 85px; }
          .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(3) {
            left: 160px; }
          .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(4) {
            left: 210px; }
          .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(5) {
            left: 300px; }
  .general-page .Words-line p {
    height: 105px;
    line-height: 90px;
    padding: 0 10px;
    color: #FFFFFF;
    transition: all .4s ease-in-out;
    transform: translate3d(0, 0, 0);
    vertical-align: top;
    white-space: nowrap; }
  .general-page .Words:hover p {
    transform: translate3d(0, -105px, 0); }

@media only screen and (max-width: 1440px) {
  .general-page .introduction-info .words-wrapper {
    height: 600px; }
    .general-page .introduction-info .words-wrapper .Words {
      font-size: 95px;
      transform: translate3d(0, -135px, 0); }
      .general-page .introduction-info .words-wrapper .Words:hover p {
        transform: translate3d(0, -100px, 0); }
      .general-page .introduction-info .words-wrapper .Words .Words-line {
        height: 82px; }
        .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(5) {
          left: 280px; }
        .general-page .introduction-info .words-wrapper .Words .Words-line p {
          line-height: 65px; } }

@media only screen and (max-width: 1280px) {
  .general-page .introduction-info .words-wrapper {
    height: 670px; }
    .general-page .introduction-info .words-wrapper .Words {
      transform: translate3d(0, -45px, 0); } }

@media only screen and (max-width: 1024px) {
  .general-page .introduction-info .words-wrapper .Words {
    font-size: 85px; }
    .general-page .introduction-info .words-wrapper .Words .Words-line {
      height: 82px; }
      .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(1) {
        left: 17px; }
      .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(2) {
        left: 50px; }
      .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(3) {
        left: 90px; }
      .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(4) {
        left: 116px; }
      .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(5) {
        left: 160px; }
      .general-page .introduction-info .words-wrapper .Words .Words-line p {
        line-height: 65px; } }

@media only screen and (max-width: 768px) {
  .general-page .introduction-info .words-wrapper {
    width: 100%; }
    .general-page .introduction-info .words-wrapper .Words {
      font-size: 59px; }
      .general-page .introduction-info .words-wrapper .Words .Words-line {
        height: 65px; }
        .general-page .introduction-info .words-wrapper .Words .Words-line p {
          line-height: 40px; }
        .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(5) {
          left: 149px; }
        .general-page .introduction-info .words-wrapper .Words .Words-line p {
          line-height: 65px; } }

@media only screen and (max-width: 375px) {
  .general-page .introduction-info .words-wrapper .Words {
    font-size: 30px;
    transform: translate3d(0, 10px, 0); }
    .general-page .introduction-info .words-wrapper .Words .Words-line {
      height: 50px; }
      .general-page .introduction-info .words-wrapper .Words .Words-line p {
        line-height: 24px; }
      .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(1) {
        left: 10px; }
      .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(2) {
        left: 14px; }
      .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(3) {
        left: 40px; }
      .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(4) {
        left: 55px; }
      .general-page .introduction-info .words-wrapper .Words .Words-line:nth-child(5) {
        left: 95px; } }

#informativePage {
  background: #EDEDED;
  width: 100%;
  height: 100vh;
  margin: 0 auto; }
  #informativePage .wrapper-informative-page {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url("../img/abstract.svg") no-repeat -19px 0;
    background-size: contain; }
    #informativePage .wrapper-informative-page .informative-main-wrapper {
      width: 90%;
      margin: 0 auto;
      justify-content: flex-end;
      align-items: flex-end; }
      #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content {
        width: 50%;
        margin: 150px 0 100px 0; }
        #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content section:first-child {
          margin-bottom: 100px; }
        #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content section {
          color: #1D1D1D; }
          #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content section h1, #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content section h2 {
            width: 320px;
            min-width: 310px;
            margin-bottom: 30px;
            font-size: 40px;
            font-weight: 700; }
          #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content section p {
            font-size: 20px;
            color: #5c5c5c;
            line-height: 22px;
            font-weight: normal;
            font-family: IBM Plex Sans Light, 'sans-serif'; }
    #informativePage .wrapper-informative-page .info-footer {
      position: relative;
      align-self: flex-end;
      margin: 30px 250px 0 0;
      width: 470px;
      height: 30px;
      border: 1px solid #d6d6d6;
      padding: 20px; }
      #informativePage .wrapper-informative-page .info-footer p {
        color: #B0140E;
        text-transform: uppercase;
        margin: 0 auto;
        font-size: 13px;
        line-height: 16px;
        font-weight: bold; }
      #informativePage .wrapper-informative-page .info-footer img {
        position: absolute;
        top: 30px;
        left: -30px; }

@media only screen and (max-width: 1440px) {
  #informativePage .wrapper-informative-page .info-footer {
    margin: -30px 0 0 0; }
  #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content {
    margin: 100px 0 100px 0; } }

@media only screen and (max-width: 1280px) {
  #informativePage .wrapper-informative-page {
    background-position: -125px 0; }
    #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content {
      margin: 170px 0 100px 0; } }

@media only screen and (max-width: 1024px) {
  #informativePage .wrapper-informative-page {
    background-position: -55px 0; }
    #informativePage .wrapper-informative-page .info-footer {
      margin: 30px -40px 0 0; }
    #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content {
      margin: 170px 0 40px 0; }
      #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content section:first-child {
        margin-bottom: 45px; }
      #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content section h1, #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content section h2 {
        margin-bottom: 20px;
        font-size: 35px; }
      #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content section p {
        font-size: 17px;
        line-height: 20px; } }

@media only screen and (max-width: 768px) {
  #informativePage .wrapper-informative-page {
    background-position: -165px 0; }
    #informativePage .wrapper-informative-page .info-footer {
      margin-right: -20px; }
    #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content {
      margin-top: 265px; } }

@media only screen and (max-width: 375px) {
  #informativePage .wrapper-informative-page {
    background-position: -145px 2px;
    background-size: cover; }
    #informativePage .wrapper-informative-page .info-footer {
      margin-right: 5px;
      width: 270px;
      height: 30px; }
      #informativePage .wrapper-informative-page .info-footer p {
        font-size: 9px;
        line-height: 12px; }
    #informativePage .wrapper-informative-page .informative-main-wrapper {
      width: 100%; }
      #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content {
        width: 100%;
        margin: 200px 0 50px 0; }
        #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content section:first-child {
          margin-bottom: 50px; }
        #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content section {
          margin-left: 15px; }
          #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content section h1, #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content section h2 {
            font-size: 20px;
            font-weight: 700; }
          #informativePage .wrapper-informative-page .informative-main-wrapper .informative-main-content section p {
            color: #1D1D1D;
            font-size: 13px;
            line-height: 15px; } }

.d-flex {
  display: flex; }

.d-block {
  display: block; }

.d-none {
  display: none; }

.flex-column {
  flex-direction: column; }

.space-between {
  justify-content: space-between; }

.space-around {
  justify-content: space-around; }

.align-center {
  align-items: center; }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }

.bg-cod-gray {
  background: #1D1D1D; }

.bg-transparent {
  background: transparent; }

.color-tabasco {
  color: #B0140E; }

.color-cod-gray {
  color: #1D1D1D; }

.color-white {
  color: #FFFFFF; }

html, body {
  height: 100%;
  width: 100%;
  font-family: 'IBM Plex Sans', sans-serif; }
